
.nuxt-content {
  a {
    color: $c-primary;

    &:hover {
      text-decoration: underline;
    }
  }

  h1,
  h2 {
    font-family: $ff-sans;
    font-style: normal;
    font-weight: bold;
    line-height: 42px;
    letter-spacing: 0.299664px;
    color: $c-purple;
    @apply mb-2;

    &:nth-child(n + 2) {
      @apply mt-8;
    }
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-family: $ff-sans;
    @apply font-bold;
    @apply text-xl;
    @apply mt-3;
    @apply mb-2;
  }

  ul {
    @apply mt-3 mb-3 ml-6;
    @apply list-disc;
    font-family: PT Serif;
    @apply text-lg;
  }

  li {
    line-height: 1.6;
  }

  p {
    font-family: PT Serif;
    margin-bottom: 20px;
    @apply text-lg;
  }

  p, pre {
    margin-bottom: 20px;
  }

  code {
    color: #FFF;
    border-radius: 2px;
    padding: 2px;
    border: solid 1px #444;
    background: rgb(107,38,197);
    background: linear-gradient(180deg, rgba(107,38,197,1) 0%, rgba(48,17,88,1) 100%);
  }

  pre {
    color: #DDD;
    border-radius: 5px;
    border: solid 1px #444;
    background: rgb(107,38,197);
    background: linear-gradient(180deg, rgba(107,38,197,1) 0%, rgba(48,17,88,1) 100%);
    padding: 5px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }

  pre strong {
    color: #FFF;
    font-weight: 700;
  }

  .button {
    display: inline-block;
    @apply mt-3;
    font-size: 1.2rem;
    font-family: $ff-serif;
    color: #fff;
    background-color: $c-primary;
    padding: 0.8rem 1.6rem;
    border-radius: 4px;
    transition: background-color 0.1s ease;
  }

}